Welcome <%= current_user.username %><br/><br/>
Your current mission is <span class="mission">Ethan's Birthday Mystery</span>
<div id= "secret_message_form">
<% form_tag({:controller => "secret_messages", :action => "show", :id =>''})  do %>
  Please enter your secret message below<br/><%= text_field_tag "id", '', :size => 30, :class => 'secret_message_form_text' %>
  <%= submit_tag "Show Clue", :class => "submit" %>
<% end %>
</div>