<h1>Secret Agents</h1>
<%=  image_tag "logo.png"%><br/>
<table>
  <tr><td><h2>Code Name&nbsp;</h2></td><td><input type="text" name="username"></td></tr>
  <tr><td><h2>Password&nbsp;</h2></td><td><input type="text" name="password"></td></tr>
</table>