<p>
  <b>Title:</b>
  <%=h @secret_message.title %>
</p>

<p>
  <b>Description:</b>
  <%= @secret_message.description %>
</p>

<% if admin? %>
		<%= link_to 'Edit', edit_secret_message_path(@secret_message) %> |
		<%= link_to 'Back', secret_messages_path %>
<% end %>